<div class="grid-x">
  <div class="cell text-center">
    <h4 info>ABOUT co2much</h4>
  </div>
</div>

 <div class="grid-container">
    <div class="grid-x grid-padding-x">
<div class="medium-6 cell text-center">
<p>c02much is an application where user can calculate carbon footprint of transportation and do tasks to reduce it.
<b>A person in Finland emits approximately 23,3 kg c02 per day and this is caused only by fossil fuels and cement manufacture.</b></p>

<div class="grid-x">
<div class="cell text-center">
  <button class="success button" data-open="pageinfo-modal">About climate change</button>
  </div>
</div>


<div class="reveal" id="pageinfo-modal" data-reveal>
<br>

<div class="cell text-center"> 
<h4>Global warming</h4>
</div>
<p> Global warming is one of the biggest problems that a human has come across with. Our atmosphere works like a greenhouse: Gases in the atmosphere let the light through but prevent the heat rising back to the space since people produce huge amounts of greenhouse gases for instance carbon dioxide (co2).
 Climate change caused by people is so powerful that nature has problems to adjust to a new climate. Many animal species are in danger to become extinct: As an example snow and ice are vital for ringed seals, hunting becomes more difficult for polar bears since melting of the ice and flora that many animal species eat dry out.

 <img src="./assets/images/global_warming.jpg">
Image: https://www.express.co.uk/news/science/845901/climate-change-natural-global-warming-evidence-jennifer-marohasy

<br><br>

 Climate change and therefore dryness make agriculture more difficult which is a vital way of living in many countries. It is also estimated that production of coffee will be reduced to half and production of bananas in Ecuador is at risk because of the dryness. 
 Sea level is rising because of melting of the glaciers and coast cities are at great risk to vanish under water in the future. This causes rebuilding the infrastructure even higher but in many countries people have to move away from their homes and this causes migration.
 Percentage of carbon dioxide in atmosphere has risen 31% and average temperature of ground has risen 0.74 degrees. Sea level has risen 10 centimeters since 1961.
 It is estimated that till the end of this century: <br><br>
<b>-	Average temperature has risen 1,1 – 6.4 degrees </b><br>
<b>-	Sea level rises 17cm </b><br>
<b>-	Especially in the dry areas dryness will increase and in the coast areas floods increase </b><br>
<b>-	rainstorms will increase but the water stored in glaciers and snow and the water runoff by fall and spring will be reduced in the areas, where over billion people lives.</b><br>


<br>

These are just to mention a few problems that the climate change will cause if we don’t start action to slow it down. What can you do to further this mission? There are a lot of ways.  Most emissions that people produce come from fossil fuels. Use public traffic instead of your car, use your own canvas bag instead of a plastic bag, increase vegetarian food in your diet, reduce electricity used in vain.

There are so many ways to further slowing down the climate change.

Let’s start today and expand our loyalty to the whole globe.

<br><br>
<b>Sources:</b>

<br>

<i>  http://ilmasto.org/ilmastonmuutos/kasvihuoneilmio-ja-ilmastonmuutos </i> <br>
<i> - https://wwf.fi/uhat/ilmastonmuutos/ </i> <br>
<i> - Before the Flood - documentary </i>

</p>

<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--
<a class="button button-icon-badge expanded" routerLink="">
  <i class="fi-home"></i>
  <span class="button-icon-badge-text">Lorem ipsum dolor sit amet, justo paulo maiorum qui no, eam ex solum propriae. Mel fierent corrumpit urbanitas at. Cu has modus corpora efficiendi. Qui debitis petentium ad. Qui appetere singulis erroribus an, id tota populo scaevola eam. Eu nam ludus mediocrem adolescens.
</span>
</a>
-->

<div class="homeinfo">

  <div class="grid-x">
    <div class="cell small-4"><br>
       <i class="fi-home"></i>
    </div>
   <div class="cell small-8">
   <button data-open="abouthome-modal">
    <p class="info-text">On homepage user can see the progress bar that keeps filling up...</p>
    </button>
    </div>
  </div>
  </div>

  <div class="reveal" id="abouthome-modal" data-reveal>
    <br>
    <p>On homepage user can see the progress bar that keeps filling up after each task. 5 ecological tasks are required for 100% and tasks can be found by pressing button "reduce your carbon footprint".
       By pressing "Going somewhere" user gets to the map-page.</p>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  <br>


<div class="homeinfosecond">
<div class="grid-x">
<div class="cell small-4"><br>
 <i class="fi-map">
 </i>
 </div>
 <div class="cell small-8">
   <button data-open="aboutmap-modal">
        <p class="info-text">On map-page user can give the origin and destination address to the fields...</p>
   </button>
        </div>
    </div>
</div>

</div>
</div>
</div>

<div class="reveal" id="aboutmap-modal" data-reveal>
    <br>
    <p>On map-page user can give the origin and destination address to the fields and choose travelmode to see the carbon footprint for each vehicle in the trip. The map shows the route by pressing separate "show map"-button</p>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
